.container {
    padding: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-form input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    padding-left: 16px;
    width: 272px;
    height: 40px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #808080;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
}

.search-form button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background: #4e75ff;
    border: 1px solid #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px 50px;
}

.loader {
    margin-top: 60px;
}

.image-card {
    width: 360px;
    height: 290px;
    border: 1px solid #808080;
}

.image-card {}

.img {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 48px;
    background: #fff;
    border: 1px solid gray;
}

.info p {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 125px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    margin-top: 80px;
}